.blog-sec {
    padding-top: 51px;
    padding-bottom: 103px;
}

.blog-sec__wrapper {
    margin-top: 51px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.blog-sec__aside {
    width: 294px;
    padding-bottom: 100px;
}

.blog-sec__nav {
    width: 100%;
    padding: 26px 0;
    border-radius: 32px;
    background: rgba(231, 236, 244, 0.30);
    position: sticky;
    top: 20px;
}

.blog-sec__nav-link {
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 21px;
    opacity: 0.5;
    transition: all ease 0.3s;

    &:hover {
        opacity: 1;
        transition: all ease 0.3s;
    }
}

.blog-sec__nav-link-icon {
    width: 24px;
    display: block;

    svg {
        display: block;
        width: 100%;
        height: auto;
    }

    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.blog-sec__nav-link-text {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    padding-left: 15px;
    color: $darkBlueV1;
}

.blog-sec__nav-link--activ {
    opacity: 1;
    background: linear-gradient(90deg, #D9E0E9 0%, #F4F4F3 100%);

    &::before {
        width: 6px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        content: "";
        background: $darkBlueV2;
        border-radius: 3px 0px 0px 3px;
    }

    .blog-sec__nav-link-text {
        font-weight: 600;
    }
}

.blog-sec__body {
    width: 1287px;
}

.blog-sec__body-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
}

.blog-sec__body-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 66px);
    margin-left: -33px;

    .news-card {
        width: calc(33.333% - 66px);
        margin: 50px 33px 0 33px;
    }
}

.blog-sec__body-pagination-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 130px;
    padding-left: 168px;

    .pagination {
        margin-top: 0;
    }
}

.page-counter {
    display: flex;
    align-items: center;
}

.page-counter__text {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 15px */
    text-transform: capitalize;
    color: #8A97AA;
}

.page-counter__counter {
    width: 29px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-style: normal;
    border: solid 1px #8A97AA;
    font-weight: 400;
    line-height: 100%;
    color: #8A97AA;
    border-radius: 5px;
    margin: 0 13px;
}

.blog-sec__body-no-posts {
    margin-top: 77px;
}

.no-posts-box__title {
    color: $darkBlueV2;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 57.6px */
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: center;
}

.no-posts-box__subtitle {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-align: center;
    margin-bottom: 20px;
}

.no-posts-box__img-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    img {
        max-width: 588px;
        display: block;
    }
}

.no-posts-box {
    width: 100%;
    padding-right: 80px;
}

.pagination__btn {
    cursor: pointer;
}



@media only screen and (max-width: 1750px) {
    .blog-sec__body {
        width: calc(100% - 300px);
        padding-left: 30px;
    }

    .blog-sec__aside {
        width: 300px;
    }

    .blog-sec__body-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% + 30px);
        margin-left: -15px;

        .news-card {
            width: calc(33.333% - 30px);
            margin: 30px 15px 0 15px;
        }
    }
}

@media only screen and (max-width: 1520px) {
    .blog-sec__body-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% + 20px);
        margin-left: -10px;

        .news-card {
            width: calc(33.333% - 20px);
            margin: 20px 10px 0 10px;
        }
    }

    .blog-sec__body-pagination-row {
        margin-top: 80px;
        padding-bottom: 0px;
    }

    .blog-sec__nav {
        border-radius: 20px;
    }

    .blog-sec__nav-link-text {
        font-size: 14px;
    }

    .blog-sec__nav-link {
        padding: 10px 15px;
    }

    .blog-sec__aside {
        margin-top: 0;
    }

    .blog-sec {
        padding-top: 40px;
        padding-bottom: 90px;
    }

    .blog-sec__wrapper {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 1220px) {
    .blog-sec__aside {
        width: 200px;
    }

    .blog-sec__body {
        width: calc(100% - 200px);
        padding-left: 30px;
    }

    .products-catalog-sec__elements-wrapper-title {
        font-size: 32px;
    }

    .blog-sec__body-header {
        .product-search {
            width: 250px;
        }
    }


    .blog-sec__body-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        margin-left: -0;

        .news-card {
            width: calc(50% - 10px);
            margin: 0;
            margin-top: 20px;
        }
    }

    .page-counter {
        display: none;
    }

    .blog-sec__body-pagination-row {
        padding-left: 0;
        justify-content: center;
    }

    .blog-sec__nav {
        top: 100px;
    }

}

@media only screen and (max-width: 760px) {
    .blog-sec__wrapper {
        margin-top: 20px;
        flex-wrap: wrap;
    }

    .blog-sec__aside {
        width: 100%;
        top: auto;
        padding-bottom: 0;
        position: relative;
    }

    .blog-sec {
        padding-top: 15px;
        padding-bottom: 80px;
    }

    .blog-sec__body {
        padding-left: 0;
        width: 100%;
        padding-top: 25px;
    }

    .blog-sec__body-header {
        display: none;
    }

    .blog-sec__body-wrapper .news-card {
        width: calc(50% - 5px);
        margin: 0;
        margin-bottom: 15px;
    }

    .blog-sec__body-pagination-row {
        margin-top: 40px;
    }

    .blog-sec__nav {
        background: none;
        border: 0;
        padding: 0;
    }

    .blog-sec__nav-list {
        display: flex;

    }

    .blog-sec__nav {
        padding-bottom: 10px;
        overflow-x: scroll;
        border-radius: 0;
    }

    .blog-sec__nav-link {
        padding: 5px 8px;
        border-radius: 100px;
        margin-right: 5px;
        border: solid 1px #A0AAB8;

        svg {
            width: 16px;
            height: auto;
            min-width: 16px;
        }
    }

    .blog-sec__nav-link-text {
        padding-left: 5px;
        font-size: 12px;
        color: #A0AAB8;
        white-space: nowrap;
    }

    .blog-sec__nav-link-icon {
        width: 16px;
    }

    .blog-sec__nav-link--activ {
        background: $darkBlueV2;
        border: solid 1px $darkBlueV2;

        svg {
            path {
                fill: #fff;
            }
        }

        &::before {
            opacity: 0;
        }

        .blog-sec__nav-link-text {
            color: #fff;
        }
    }

    .no-posts-box {
        padding: 0;
    }

    .no-posts-box__img-wrapper img {
        width: 100%;
        max-width: 100%;
    }

    .no-posts-box__title {
        font-size: 32px;
    }

    .no-posts-box__subtitle {
        font-size: 16px;
    }

    .blog-sec__aside {
        margin-top: 0px;
    }
}