.contacts-sec {
    padding-top: 51px;
    padding-bottom: 100px;
}

.contacts-sec__wrapper {
    margin-top: 51px;
}

.contacts-sec__title {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 48px */
    text-transform: uppercase;
}

.contacts-sec__subtitle {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-top: 25px;
}

.contacts-sec__claster {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contacts-sec__img {
    width: 1277px;
    height: 508px;
    border-radius: 40px;
    display: block;
    object-fit: cover;
}

.contacts-sec__info {
    width: calc(100% - 1277px);
    padding-right: 20px;

    .footer__top-contacts-claster-li-link {
        opacity: 1;
    }


    .footer__top-contacts-claster-li-icon {
        width: 30px;
        margin-top: 3px;
        opacity: 0.5;

        svg {
            width: 100%;
        }
    }

    .footer__top-contacts-claster-li-value {
        width: calc(100% - 30px);
        padding-left: 21px;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        opacity: 1;
    }

    .footer__top-contacts-claster-li {
        margin-bottom: 50px;
    }

    .footer__top-social-row {
        margin-top: 0;
        padding-top: 18px;
        justify-content: flex-start;
    }

    .footer__top-social {
        width: 85px;
        margin-right: 48px;

        &:last-child {
            margin: 0;
        }
    }
}


@media only screen and (max-width: 1750px) {
    .contacts-sec__img {
        width: calc(100% - 450px);
    }

    .contacts-sec__info {
        width: 450px;
    }
}

@media only screen and (max-width: 1520px) {}

@media only screen and (max-width: 1220px) {
    .contacts-sec__title {
        font-size: 32px;
    }

    .contacts-sec__subtitle {
        font-size: 16px;
        margin-top: 20px;
    }

    .contacts-sec__claster {
        margin-top: 50px;
    }

    .contacts-sec__img {
        width: 50%;
        border-radius: 32px;
        height: 300px;
    }

    .contacts-sec__info {
        width: 50%;
    }

    .contacts-sec__info .footer__top-contacts-claster-li-value {
        font-size: 18px;
        width: calc(100% - 20px);
        padding-left: 10px;
    }

    .contacts-sec__info .footer__top-contacts-claster-li-icon {
        width: 20px;
    }

    .contacts-sec__info .footer__top-contacts-claster-li {
        margin-bottom: 20px;
    }

    .contacts-sec__info .footer__top-social {
        width: 40px;
        margin-right: 20px;
    }
}

@media only screen and (max-width: 760px) {
    .contacts-sec {
        padding-top: 20px;
        padding-bottom: 45px;
    }

    .contacts-sec__wrapper {
        margin-top: 20px;
    }

    .contacts-sec__title {
        font-size: 20px;
    }

    .contacts-sec__subtitle {
        font-size: 14px;
        margin-top: 10px;
    }

    .contacts-sec__claster {
        margin-top: 20px;
        flex-wrap: wrap;
    }

    .contacts-sec__info {
        width: 100%;
        order: 2;
        width: 100%;
        padding: 0;
        padding-top: 20px;
    }

    .contacts-sec__img {
        height: 186px;
        width: 100%;
        display: block;
        border-radius: 10px;
    }

    .contacts-sec__info .footer__top-contacts-claster-li-value {
        font-size: 14px;
    }

    .contacts-sec__info .footer__top-contacts-claster-li-icon {
        width: 16px;
    }

    .contacts-sec__info .footer__top-social-row {
        width: 100%;
        justify-content: center;
        padding-top: 10px;
    }

    .contacts-sec__info .footer__top-social {
        width: 53px;
        margin: 0 15px;

        &:last-child {
            margin: 0 15px;
        }
    }

    .contacts-sec__info .footer__top-contacts-claster-li {
        margin-bottom: 10px;
    }
}