.doc-page-sec {
    padding-top: 50px;
    padding-bottom: 80px;
}

.doc-page-sec__title {
    margin-top: 40px;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 48px */
    text-transform: uppercase;
}

.doc-page-sec__text-wrapper {
    margin-top: 30px;
}

.doc-wp-editor {
    p {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        margin-bottom: 20px;
    }

    a {
        color: $darkBlueV1;
        text-decoration: underline;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 20px;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        text-transform: uppercase;
    }

    ul {
        padding-left: 20px;
        margin-bottom: 20px;

        li {
            list-style-type: disc;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            margin-bottom: 5px;
        }
    }
}


@media only screen and (max-width: 1750px) {}

@media only screen and (max-width: 1520px) {
    .doc-page-sec__title {
        font-size: 34px;
    }

    .doc-page-sec {
        padding-top: 40px;
    }
}

@media only screen and (max-width: 1220px) {
    .doc-page-sec__title {
        font-size: 32px;
    }
}

@media only screen and (max-width: 760px) {
    .doc-page-sec__title {
        font-size: 20px;
        margin-top: 20px;
    }

    .doc-wp-editor {
        p {
            font-size: 14px;
            margin-bottom: 20px;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 15px;
            font-size: 18px;
        }

        ul {
            margin-bottom: 15px;

            li {
                font-size: 14px;
            }
        }
    }

    .doc-page-sec {
        padding-top: 20px;
        padding-bottom: 40px;
    }



}