.footer {
    background: $blueV1;
}

.footer__down {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 33px;
        padding-bottom: 36px;
        border-top: solid 1px #BEC8D6;
    }
}

.footer__down-copy {
    color: #B2B6C6;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.footer__down-right-row {
    display: flex;
    align-items: center;
}

.footer__down-rules-text {
    color: #B2B6C6;
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    padding-right: 6px;
}

.footer__down-ul {
    display: flex;
}

.footer__down-link {
    color: #1B3762;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-decoration: underline;
    display: inline-flex;
    align-items: center;

    padding: 0 6px;
    position: relative;

    &::before {
        width: 2px;
        height: 13px;
        left: 0;
        background: #B2B6C6;
        position: absolute;
        content: "";
    }

    &:hover {
        text-decoration: underline;
    }
}

.footer__top {

    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 73px;
        padding-bottom: 22px;
    }
}

.footer__top-logo {
    display: block;
    width: 164px;
}

.footer__top-logo-img {
    width: 100%;
    display: block;
}

.footer__top-social-row {
    margin-top: 80px;
    display: flex;
    align-items: center;
}

.footer__top-social {
    display: block;
    width: 31px;
    margin-right: 36px;
    transition: all ease 0.3s;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        transform: scale(1.1);
        transition: all ease 0.3s;
    }
}

.footer__top-social-img {
    width: 100%;
    display: block;
}

.footer__top-right-side {
    padding-top: 9px;
    display: flex;
    align-items: flex-start;
}

.footer__top-nav {
    margin-right: 87px
}

.footer__top-nav-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 80px;
    ;

    &:last-child {
        margin-bottom: 0;
    }
}

.footer__top-nav-claster {
    width: 360px;
}

.footer__top-nav-claster-title {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 40px;

    a {
        color: $darkBlueV1;
    }
}

.footer__top-nav-list-element {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 18px;

    &:last-child {
        margin-bottom: 0;
    }

}

.footer__top-nav-list-link {
    color: $darkBlueV1;
    opacity: 0.5;
    transition: all ease 0.3s;

    &:hover {
        opacity: 1;
        transition: all ease 0.3s;
    }
}

.footer__top-contacts-claster {
    width: 278px;
}

.footer__top-contacts-claster-title {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 40px;

    a {
        color: $darkBlueV1;
    }
}

.footer__top-contacts-claster-li {
    margin-bottom: 18px;

    &:last-child {
        margin-bottom: 0;
    }
}

.footer__top-contacts-claster-li-link {
    display: flex;
    align-items: flex-start;
    opacity: 0.5;
    transition: all ease 0.3s;

    &:hover {
        opacity: 1;
        transition: all ease 0.3s;
    }
}

.footer__top-contacts-claster-li-icon {
    width: 24px;
    display: block;

    svg {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

.footer__top-contacts-claster-li-value {
    width: calc(100% - 24px);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: $darkBlueV1;
    padding-left: 15px;

    b {
        font-weight: 700;
    }
}

.footer__top-contacts-claster-marketplace-row {
    display: flex;
    margin-top: 52px;
}

.footer__top-contacts-claster-marketplace-element {
    width: 31px;
    height: 31px;
    margin-right: 36px;
    border-radius: 6px;
    overflow: hidden;
    transition: all ease 0.3s;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        transform: scale(1.1);
        transition: all ease 0.3s;
    }
}

.footer__top-contacts-claster-marketplace-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.footer__top-contacts-claster-marketplace-row--mob {
    display: none;
}

.footer__top-logo-img-footer {
    display: none;
}

@media only screen and (max-width: 1520px) {
    .footer__top-nav-claster {
        width: 250px;
    }

    .footer__top-nav {
        margin-right: 50px;
    }
}


@media only screen and (max-width: 1220px) {
    .footer__top-logo {
        width: 100px;
    }

    .footer__top-social-row {
        margin-top: 40px;
    }

    .footer__top-social {
        margin-right: 15px;
    }

    .footer__top-nav-claster-title {
        margin-bottom: 20px;
    }

    .footer__top-nav-list-element {
        font-size: 15px;
    }

    .footer__top-nav-claster {
        width: 180px;
    }

    .footer__top-contacts-claster-li-value {
        font-size: 15px;
        width: calc(100% - 20px);
        padding-left: 10px;
    }

    .footer__top-contacts-claster-li-icon svg {
        width: 20px;
        height: auto;
    }

    .footer__top-contacts-claster {
        width: 200px;
    }

    .footer__top-nav {
        margin-right: 30px;
    }

    .footer__top .container {
        padding-top: 40px;

    }

    .footer__down .container {
        padding: 20px 0;
    }

    .footer__down-copy {
        font-size: 14px;
    }

    .footer__down-rules-text {
        font-size: 14px;
    }

    .footer__down-ul {
        li {
            a {
                font-size: 14px;
            }
        }
    }

    .footer__top-nav-claster-title {
        font-size: 16px;
    }

    .footer__top-nav-row {
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 760px) {
    .footer__top .container {
        flex-wrap: wrap;
        padding-top: 17px;
        padding-bottom: 30px;
    }

    .footer__top-right-side {
        flex-wrap: wrap;
    }

    .footer__top-left-side {
        width: 100%;
        padding-bottom: 30px;
        border-bottom: solid 1px #BEC8D6;
    }

    .footer__top-contacts-claster-marketplace-row--mob {
        display: flex;
        margin-top: 0;
    }

    .footer__top-contacts-claster {
        .footer__top-contacts-claster-marketplace-row {
            display: none;
        }
    }

    .footer__top-logo-img {
        display: none;
    }

    .footer__top-logo-img-footer {
        display: block;
        width: 100%;
    }

    .footer__top-logo {
        width: 164px;


    }

    .footer__top-social-row {
        margin-top: 0;
    }

    .footer__soc-wrapper {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }

    .footer__top-social {
        margin-right: 20px;
    }

    .footer__top-contacts-claster-marketplace-element {
        margin-right: 20px;
    }

    .footer__top-right-side {
        padding-top: 30px;
    }

    .footer__top-nav {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }

    .footer__top-nav-row {

        margin-bottom: 40px;
    }

    .footer__top-nav-row:first-child {
        order: 2;
        margin-bottom: 40px;
    }

    .footer__top-nav-row:last-child {
        margin-bottom: 40px;
    }

    .footer__top-nav-claster-title {
        font-size: 16px;
    }

    .footer__top-nav-list-element {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .footer__top-contacts-claster-title {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .footer__top-contacts-claster {
        width: 100%;
    }

    .footer__top-contacts-claster-li-value {
        font-size: 14px;
    }

    .footer__top-contacts-claster-li-value {
        span {
            display: none;
        }
    }

    .footer__down .container {
        flex-wrap: wrap;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .footer__down-copy {
        order: 2;
        font-size: 12px;
    }

    .footer__down-rules-text {
        font-size: 12px;
    }

    .footer__down-ul li a {
        font-size: 12px;
        padding-left: 3px;
        padding-right: 3px;
        line-height: 1;
    }

    .footer__down-right-row {
        justify-content: space-between;
    }
}