.products-catalog-sec {
    padding-top: 50px;
    padding-bottom: 120px;
}

.breadcrumbs {
    display: flex;
    align-items: center;
}

.breadcrumbs__link {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 15px */
    text-transform: capitalize;
    opacity: 0.4;
    display: inline-block;
    margin-right: 5px;
    color: $darkBlueV1;
}

.breadcrumbs__text {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 15px */
    // text-transform: capitalize;
    color: $darkBlueV1;
}

.products-catalog-sec__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
    position: relative;
}

.products-catalog-sec__elements-wrapper {
    width: 1290px;

}

.products-catalog-sec__elements-wrapper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
}

.products-catalog-sec__elements-wrapper-title {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 48px */
    text-transform: uppercase;
    color: $darkBlueV1;
}



.products-catalog-sec__elements-wrapper-body {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 52px);
    margin-left: -26px;

    .product-card {
        width: calc(33.333% - 52px);
        margin-left: 26px;
        margin-right: 26px;
        margin-top: 50px;
    }
}

.pagination {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    width: 100px;
    border: solid 1px $darkBlueV1;
    border-radius: 8px;

    span {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        color: $darkBlueV1;
    }

    svg {
        display: block;
    }
}

.pagination__btn-prev {
    margin-right: 57px;
    opacity: 0.5;

    svg {
        margin-right: 8px;
    }
}

.pagination__btn-next {
    margin-left: 57px;

    svg {
        margin-left: 8px;
    }
}

.pagination__num-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination__nam-li {


    a {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 8px;
        background: none;
        color: rgba(27, 55, 98, 0.40);

        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(27, 55, 98, 0.40);
        cursor: pointer;
    }
}

.pagination__nam-li--activ {


    a {
        background: $blueV1;
        color: $darkBlueV1;
        color: $darkBlueV1;
    }
}

.products-catalog-sec__aside {
    width: 294px;
    margin-top: 0;
    position: sticky;
    top: 50px;
    padding-bottom: 100px;

    .custom-checkbox {
        margin-bottom: 15px;
    }

    .custom-range {
        padding-top: 30px;
    }
}

.products-aside__title {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 20px;
    color: $darkBlueV1;
}



.products-aside__row-mob {
    display: none;
}

.products-aside {
    .blog-sec__nav {
        position: relative;
        top: auto;
        margin-bottom: 58px;
    }
}





@media only screen and (max-width: 1750px) {
    .products-catalog-sec__aside {
        width: 250px;
    }

    .products-catalog-sec__elements-wrapper {
        width: calc(100% - 250px);
        padding-left: 30px;
    }

    .products-catalog-sec__elements-wrapper-body {
        width: calc(100% + 30px);
        margin-left: -15px;

        .product-card {
            width: calc(33.333% - 30px);
            margin: 30px 15px 0px 15px;
        }
    }

    .pagination {
        // margin-top: 60px;
    }
}

@media only screen and (max-width: 1520px) {
    .products-catalog-sec__elements-wrapper-body {
        width: calc(100% + 20px);
        margin-left: -10px;

        .product-card {
            width: calc(33.333% - 20px);
            margin: 20px 10px 0px 10px;
        }
    }

    .products-catalog-sec__aside {
        margin-top: 0;
        top: 30px;
    }

    .products-catalog-sec__elements-wrapper-title {
        font-size: 34px;
    }

    .products-aside__title {
        font-size: 18px;
    }

    .products-aside .blog-sec__nav {
        margin-bottom: 40px;
    }

    .products-catalog-sec {
        padding-bottom: 90px;
    }
}

@media only screen and (max-width: 1220px) {


    .products-catalog-sec {
        padding-bottom: 80px;
    }

    .pagination {
        margin-top: 50px;
    }

    .products-catalog-sec__elements-wrapper-body .product-card {
        width: calc(50% - 20px);
        margin: 20px 10px 0px 10px;
    }

    .products-catalog-sec__elements-wrapper {
        width: calc(100% - 200px);
        padding-left: 20px;
    }

    .products-catalog-sec__aside {
        width: 200px;

        .blog-sec__nav-link-text {
            font-size: 12px;
        }
    }
}

@media only screen and (max-width: 760px) {

    .products-catalog-sec__wrapper {
        flex-wrap: wrap;
    }

    .products-catalog-sec__aside {
        position: relative;
        width: 100%;
        margin-top: 0;
        padding-bottom: 30px;
        top: auto;
    }

    .products-catalog-sec__elements-wrapper {
        width: 100%;
        padding-left: 0;
    }

    .products-catalog-sec__elements-wrapper-body {
        width: calc(100%);
        margin-left: -0;
        justify-content: space-between;

        .product-card {
            width: calc(50% - 10px);
            margin: 0;
            margin-top: 20px;
        }
    }

    .products-catalog-sec {
        padding-top: 15px;

        .breadcrumbs {
            overflow: hidden;
            width: calc(100% - 100px - 5px);
        }

        .breadcrumbs__link {
            white-space: nowrap;
        }
    }



    .breadcrumbs__link {
        font-size: 10px;
    }

    .breadcrumbs__text {
        font-size: 10px;
    }

    .products-catalog-sec__wrapper {
        margin-top: 30px;
    }

    .products-aside__title {
        font-size: 18px;
    }

    .products-catalog-sec__aside {
        .custom-checkbox {
            margin-bottom: 10px;
        }

        .products-catalog-sec__aside-range-pc {
            display: none;
        }

    }

    .products-aside__row-mob {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 24px;
    }

    .products-aside__filtr-btn {
        display: inline-flex;
        align-items: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        padding: 8px 10px;
        border: solid 1px $darkBlueV1;
        border-radius: 100px;

        svg {
            display: block;
            margin-right: 5px;
        }
    }

    .products-catalog-sec__elements-wrapper-header {
        display: none;
    }

    .products-aside__filtr-mob-wrapper {
        padding-top: 20px;

        .custom-range {
            padding-top: 0;
        }

        .custom-range__title {
            font-size: 14px;
            margin-bottom: 10px;
        }
    }

    .products-aside__filtr-btn--activ {
        background: $darkBlueV2;

        span {
            color: #fff;
        }

        svg {
            path {
                fill: #fff;
            }
        }
    }

    .products-catalog-sec__aside {
        padding-bottom: 15px;
    }

    .products-catalog-sec__elements-wrapper-body .product-card {
        width: calc(50% - 5px);
        margin: 0;
        margin-top: 15px;
    }

    .pagination {
        margin-top: 68px;
        justify-content: space-between;
        width: 100%;
    }

    .pagination__btn-next {
        margin-left: 0;
    }

    .pagination__btn-prev {
        margin-right: 0;
    }

    .pagination__nam-li a {
        font-size: 12px;
        width: 30px;
        height: 30px;
    }

    .pagination__btn span {
        font-size: 12px;
    }

    .pagination__btn {
        width: 84px;
    }

    .products-catalog-sec {
        padding-bottom: 80px;
    }


}