.info-hero-sec {
    padding-top: 50px;
    padding-bottom: 100px;
}

.info-hero-sec__wrapper {
    margin-top: 50px;
    border-radius: 40px;
    background: #E7ECF4;
    position: relative;
    padding: 33px 25px;
    overflow: hidden;

    min-height: 410px;
    display: flex;
    align-items: center;
}

.info-hero-sec__bg {
    position: absolute;
    left: 752px;
    top: -316px;
    display: block;
    height: 1080px;
}

.info-hero-sec__text-box {
    width: 952px;
    position: relative;
    z-index: 10;

}

.info-hero-sec__title {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 48px */
    text-transform: uppercase;
    margin-bottom: 15px;
    // max-width: 790px;

    b {
        font-weight: 700;
        color: $goldV1;
    }
}

.info-hero-sec__text {
    p {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        margin-bottom: 15px;
    }

    ul {
        margin-bottom: 15px;

        li {
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%
        }
    }
}

.info-hero-sec__btn-wrapper {
    padding-top: 10px;
}

.btn-request {
    display: inline-flex;
    align-items: center;
    background: $goldV1;
    padding: 21px 65px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: all ease 0.3s;

    svg {
        display: block;
    }

    span {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        margin-right: 10px;
        color: #fff;
    }

    &:hover {
        transform: scale(1.02);
        transition: all ease 0.3s;
    }
}

.info-advantages-sec {
    padding-bottom: 90px;
}

.info-sec-title {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 48px */
    text-transform: uppercase;

    b {
        color: $goldV1;
    }
}

.info-advantages-sec__wrapper {
    margin-top: 40px;
    width: calc(100% + 10px);
    margin-left: -5px;
    display: flex;
    flex-wrap: wrap;
}

.info-advantages-sec__element {
    width: calc(33.333% - 10px);
    margin: 0 5px 10px 5px;
    border-radius: 40px;
    padding: 3px;
    background: linear-gradient(162deg, #BEB297 -31.68%, #F0E7D2 39.9%, #BEB297 120.62%);
}

.info-advantages-sec__element-wrapper {
    background: #F9F7F2;
    border-radius: 38px;
    padding: 32px 34px;
    height: 100%;
}

.info-advantages-sec__element-header {
    display: flex;
    align-items: center;
}

.info-advantages-sec__element-icon {
    width: 38px;
    display: block;
}

.info-advantages-sec__element-title {
    width: calc(100% - 38px);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    padding-left: 20px;
}

.info-advantages-sec__element-text {
    margin-top: 20px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.info-dirrections-sec {
    padding: 80px 0 84px 0;
    background: #E7ECF4;
}

.coorp-dirrections-slider {
    position: relative;
    width: 100%;
}

.info-dirrections-sec__element {
    width: 100%;
    overflow: hidden;
    height: 508px;
    border-radius: 40px;
    position: relative;
    cursor: pointer;

    &:hover {
        .info-dirrections-sec__element-img {
            transform: scale(1.05);
            transition: all ease 0.3s;
        }
    }
}

.info-dirrections-sec__element-img {
    width: 100%;
    height: 100%;
    display: block;
    transition: all ease 0.3s;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.info-dirrections-sec__element-wrapper {
    position: absolute;
    width: 100%;
    transition: all ease 0.3s;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    left: 0;
    top: 0;
    z-index: 5;
    background: linear-gradient(180deg, rgba(27, 55, 98, 0.00) 0%, #1B3762 82.61%);

}

.info-dirrections-sec__element-text-box {
    width: 100%;
    padding: 0 30px 40px 30px;
}

.info-dirrections-sec__element-title {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;

    color: #fff;
}

.info-dirrections-sec__element-text {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: #fff;
    opacity: 0.5;
    margin-top: 26px;
}

.info-dirrections-sec__element-tag {
    background: $goldV1;
    color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 16.8px */
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 100px;
    display: inline-block;
    margin-bottom: 15px;
}

.info-close-sec {
    padding: 100px 0;
}

.info-close-sec__row {
    margin-top: 40px;
    width: calc(100% + 10px);
    margin-left: -5px;
    display: flex;
    flex-wrap: wrap;
}

.info-close-sec__element {
    width: calc(33.333% - 10px);
    margin: 0 5px;
    height: 575px;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
}

.info-close-sec__element-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: relative;
    z-index: 1;
}

.info-close-sec__element-text-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 42px 34px;
    z-index: 5;
}

.info-close-sec__element-btn {
    position: absolute;
    z-index: 5;
    width: calc(100% - 40px);
    left: 20px;
    bottom: 22px;
    display: inline-flex;
    align-items: center;
    background: #E7ECF4;
    padding: 21px;
    justify-content: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    color: $darkBlueV1;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    transition: all ease 0.3s;

    span {
        margin-right: 10px;
        transition: all ease 0.3s;
    }

    svg {
        display: block;

        path {
            transition: all ease 0.3s;
        }
    }

    &:hover {
        background: $darkBlueV2;
        transition: all ease 0.3s;

        span {
            color: #fff;
            transition: all ease 0.3s;
        }

        svg {
            path {
                fill: #fff;
                transition: all ease 0.3s;
            }
        }
    }
}

.info-close-sec__element-title {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    color: #fff;
    margin-bottom: 15px;
}

.info-close-sec__element-text {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: #fff;
}

.info-how-take-sec {
    padding-bottom: 100px;
}

.info-how-take-sec__subtitle {
    margin-top: 15px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.info-how-take-sec__row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    align-items: center;
}

.info-how-take-sec__element {
    border-radius: 30px;
    background: #E7ECF4;
    padding: 23px 30px;
    display: inline-flex;
    align-items: center;
    max-width: 564px;
    margin-right: 38px;

}

.info-how-take-sec__element-icon {
    width: 24px;
    min-width: 24px;

    img {
        width: 100%;
        display: block;
    }
}

.info-how-take-sec__element-text {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    padding-left: 15px;
}

.info-form-sec {
    padding-bottom: 43px;
}

.info-form-sec__subtitle {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-top: 15px;
}

.info-form-sec__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    overflow: hidden;
    border-radius: 40px;
    background: #E7ECF4;
}

.info-form-sec__img {
    width: 1000px;
    height: 607px;
    display: block;
    object-fit: cover;
    border-radius: 40px;
}

.info-form-sec__form {
    margin-right: 107px;
    width: 500px;
}

.info-form-sec__form-title {
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 10px;
}

.info-form-sec__form-subtitle {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 35px;
}

.info-form-sec__form-inp {
    width: 100%;
    margin-bottom: 14px;

    input {
        width: 100%;
        border-radius: 15px;
        border: 1px solid rgba(27, 55, 98, 0.20);
        background: #FFF;
        color: $darkBlueV1;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        transition: all ease 0.3s;
        padding: 19px 34px;

        &::placeholder {
            opacity: 0.2;
            color: $darkBlueV1;
            transition: all ease 0.3s;
        }

        &:hover,
        &:focus {
            border: solid 1px $goldV1;
            transition: all ease 0.3s;
        }
    }

    textarea {
        width: 100%;
        border-radius: 15px;
        border: 1px solid rgba(27, 55, 98, 0.20);
        background: #FFF;
        color: $darkBlueV1;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        transition: all ease 0.3s;
        padding: 19px 34px;
        resize: none;
        height: 106px;
        font-family: $mainFont;

        &::placeholder {
            opacity: 0.2;
            color: $darkBlueV1;
            transition: all ease 0.3s;
        }

        &:hover,
        &:focus {
            border: solid 1px $goldV1;
            transition: all ease 0.3s;
        }
    }
}



.info-form-sec__form-inp-btn {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;

    input {
        width: 100%;
        padding: 23px 183px 23px 0;
        text-align: right;
        border: none;
        background: $goldV1;
        color: #fff;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        border-radius: 100px;
        cursor: pointer;
    }
}

.info-form-sec__form-inp-btn-icon {
    position: absolute;
    right: 150px;

    svg {
        display: block;
    }
}

.info-form-sec__form-captcha-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.info-form-sec__form-captcha {
    width: 302px;
    display: block;
}

.info-form-sec__down-text {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-top: 50px;
    opacity: 0.2;
    color: $darkBlueV1;
}

.export-hero-sec {
    .info-hero-sec__wrapper {
        padding-left: 52px;
    }

    .info-hero-sec__btn-wrapper {
        padding-top: 25px;
    }
}

.export-dirrections-sec {
    background: none;
    padding: 0;
    padding-bottom: 100px;
}

.info-numbers-sec {
    padding: 60px 0 88px 0;
    background: #E7ECF4;
}

.info-numbers-sec__row {
    width: 100%;
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}

.info-numbers-sec__element {
    width: 280px;
}

.info-numbers-sec__element-title {
    margin-top: 9px;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.info-numbers-sec__element-sutitle {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-top: 25px;
    opacity: 0.5;
}

.info-numbers-sec__element-num {
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    color: $goldV1;
    font-family: $fontNum;
}

.export-close-sec {
    padding-bottom: 80px;
}

.info-sertificat-sec {
    padding-bottom: 85px;

    .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
}

.info-sertificat-sec__img {
    width: 580px;
    display: block;
}

.info-sertificat-sec__info-wrapper {
    width: calc(100% - 580px);
    padding-top: 21px;
}

.info-sertificat-sec__info-wrapper-header {
    display: flex;
    align-items: center;
}

.info-sertificat-sec__info-wrapper-title {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 48px */
    text-transform: uppercase;
    max-width: 440px;
    margin-right: 72px;
}

.info-sertificat-sec__info-wrapper-btn {
    display: inline-flex;
    background: $darkBlueV1;
    padding: 36px 56px;
    border-radius: 22px;
    cursor: pointer;
    transition: all ease 0.3s;

    span {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        color: #fff;
        margin-right: 15px;
    }

    svg {
        display: block;
    }

    &:hover {
        background: $darkBlueV2;
        transition: all ease 0.3s;
    }
}

.info-sertificat-sec__body {
    margin-top: 30px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.export-form-sec {
    .info-form-sec__img {
        height: 794px;
    }

    .info-form-sec__form-inp {
        margin-bottom: 10px;
    }
}

.coorp-hero-sec {
    .info-hero-sec__wrapper {
        padding-left: 52px;
    }
}

.coorp-dirrections-sec {


    .info-dirrections-sec__element-text {
        margin-top: 0;
        font-size: 24px;
        line-height: 1.2;
    }
}

.about-hero-sec {
    .info-hero-sec__wrapper {
        padding-left: 52px;
        min-height: 378px;
    }

    .info-hero-sec__text-box {
        width: 800px;
    }
}

.info-mission-sec {
    padding-bottom: 100px;
}

.info-mission-sec__row {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

.info-mission-sec__element {
    width: 596px;
    border-radius: 40px;
    padding: 3px;
    position: relative;
    z-index: 2;
    height: 496px;
    background: linear-gradient(162deg, #BEB297 -31.68%, #F0E7D2 39.9%, #BEB297 120.62%);
}

.info-mission-sec__element-wrapper {
    background: #F9F7F2;
    border-radius: 38px;
    padding: 41px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}

.info-mission-sec__img {
    width: 560px;
    left: calc(50% - 280px);
    display: block;
    z-index: 1;
    position: absolute;
}

.info-mission-sec__element-text {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        width: 37.5px;
        height: 34.5px;
        background: url('../images/img/quete.png');
        background-size: cover;
        background-position: center;
        top: -60px;
        left: 0;
    }

    &::after {
        position: absolute;
        content: "";
        width: 37.5px;
        height: 34.5px;
        background: url('../images/img/quete.png');
        background-size: cover;
        background-position: center;
        bottom: -50px;
        right: 0;
        transform: rotate(180deg);
    }
}

.info-video-about-sec {
    padding-bottom: 100px;
}

.about-close-sec {
    padding-top: 0;
    padding-bottom: 80px;
}

.about-sertificat-sec {
    .info-sertificat-sec__info-wrapper-header {
        justify-content: space-between;
    }
}

.prem-hero-sec {
    .info-hero-sec__wrapper {
        padding-left: 50px;
        min-height: 380px;
    }

    .info-hero-sec__text-box {
        width: 910px;
    }
}

.info-benefits-sec {
    padding-bottom: 100px;
}

.info-benefits-sec__subtitle {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-top: 15px;
    max-width: 855px;
}

.info-benefits-sec__row {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.info-benefits-sec__card {
    width: calc(25% - 10px);
    border-radius: 40px;
    background: #FFF;
    box-shadow: 0px 303px 85px 0px rgba(0, 0, 0, 0.00), 0px 194px 78px 0px rgba(0, 0, 0, 0.01), 0px 109px 65px 0px rgba(0, 0, 0, 0.05), 0px 49px 49px 0px rgba(0, 0, 0, 0.09), 0px 12px 27px 0px rgba(0, 0, 0, 0.10);
    padding: 18px 18px 30px 18px;
}

.info-benefits-sec__card-img {
    width: 100%;
    height: 188px;
    object-fit: cover;
    display: block;
    border-radius: 25px;
}

.info-benefits-sec__card-title {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-top: 22px;
    color: $goldV1;
}

.info-benefits-sec__card-text {
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-top: 12px;
}

.info-asortiment-sec {
    padding-top: 75px;
    padding-bottom: 84px;
    background: #E7ECF4;
}

.info-asortiment-sec__row {
    display: flex;
    justify-content: space-between;
}

.info-asortiment-sec__col {
    width: calc(33.333% - 7px);
}

.info-asortiment-sec__img {
    width: 100%;
    height: 623px;
    border-radius: 40px;
    display: block;
    object-fit: cover;
}

.info-factory-sec {
    padding-top: 100px;
    padding-bottom: 100px;

    .info-sec-title {
        text-align: center;
    }
}

.info-factory-sec__subtitle {
    margin: 0 auto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    width: 1115px;
    margin-top: 15px;
    margin-bottom: 40px;
    text-align: center;
}

.premium-form-sec {
    padding-bottom: 100px;
}

.info-other-prod-sec {
    padding-bottom: 50px;
}

.info-asortiment-sec__col-info-text {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-top: 15px;
    padding-right: 20px;
}

.info-asortiment-sec__col-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.extract-hero-sec {
    .info-hero-sec__wrapper {
        padding-left: 50px;
        min-height: 380px;
    }

    .info-hero-sec__text-box {
        width: 900px;
    }
}

.info-what-extract-sec {
    padding-bottom: 100px;

    .info-benefits-sec__row {
        margin-top: 100px;
    }
}

.info-what-extract-sec__top-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.info-what-extract-sec__text-wrapper {
    width: 942px;
}

.info-what-extract-sec__text {
    margin-top: 15px;

    p {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        margin-bottom: 20px;
    }

    ul {
        padding-left: 20px;

        li {
            list-style-type: disc;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
        }
    }
}

.info-what-extract-sec__slider {
    width: 684px;
    position: relative;
    overflow: hidden;
    border-radius: 40px;
}

.extract-button-prev {
    left: 20px;
}

.extract-button-next {
    right: 20px;
}

.xtract-slider__element {
    width: 100%;
    height: 338px;
}

.extract-slider__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.extract-how-crate-sec {
    padding-top: 0;
    padding-bottom: 100px;
    background: none;

    .info-dirrections-sec__element {
        width: calc(20% - 10px);
    }
}

.info-dif-sec {
    padding: 84px 0;
    background: #E7ECF4;
    overflow: hidden;

    .info-sec-title {
        text-align: center;

        max-width: 667px;
        margin: 0 auto;
    }
}

.info-dif-sec__row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 58px;
    position: relative;
}

.info-dif-sec__text-wrapper {
    width: 509px;
    position: relative;
    margin: 0 37px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        margin-bottom: 15px;
        padding-left: 17px;
    }

    ul {
        padding-left: 20px;

        li {
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            list-style-type: disc;
            margin-bottom: 14px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.ssad {
    position: relative;
    z-index: 10;
}

.info-dif-sec__text-wrapper-ar-1 {
    position: absolute;
    top: -105px;
    left: -15px;
    transform: rotate(-76.164deg);

    svg {
        display: block;
    }
}

.info-dif-sec__text-wrapper-ar-2 {
    position: absolute;
    top: -103px;
    left: 315px;
    transform: rotate(-103.164deg);

    svg {
        display: block;
    }
}

.info-dif-sec__img-1 {
    position: absolute;
    width: 1021px;
    display: block;
    top: -375px;
    left: calc(-1021px + 210px);
    transform: rotate(4.84deg);
}

.info-dif-sec__img-2 {
    position: absolute;
    width: 1127px;
    display: block;
    top: -350px;
    left: 245px;
}

.info-extract-video-sec {
    padding: 100px 0;
}

.extract-form-sec {
    padding-bottom: 100px;
}

.gift-sets-hero-sec {
    .info-hero-sec__wrapper {
        padding-left: 50px;
        min-height: 380px;
    }
}

.gift-sets-benefits-sec {
    .info-benefits-sec__card {
        width: calc(20% - 10px);
        padding: 16px 16px 38px 16px;
    }

    .info-benefits-sec__card-img {
        height: 198px;
    }
}

.info-img-slider-sec {
    padding-bottom: 100px;
}

.info-img-slider-sec__slider {
    position: relative;
    padding: 0 83px;
}

.img-slider__element {
    width: 100%;
    height: 516px;
    border-radius: 40px;
    overflow: hidden;
}

.img-slider__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.imsl-button-prev {
    left: 0;
}

.imsl-button-next {
    right: 0;
}

.gift-sets-form-sec {
    padding-bottom: 100px;
}

.coorp-dirrections-prev {
    display: none;
}

.coorp-dirrections-next {
    display: none;
}

.info-dirrections-sec__row {
    margin-top: 40px;
    position: relative;
}


@media only screen and (max-width: 1750px) {
    .info-hero-sec__bg {
        left: 600px;
    }

    .info-hero-sec__text-box {
        width: 55%;
    }

    .info-hero-sec__title {
        span {
            display: none;
        }
    }

    .info-dirrections-sec__element-title {
        font-size: 22px;
    }

    .coorp-dirrections-sec .info-dirrections-sec__element-text {
        font-size: 20px;
    }

    .info-form-sec__img {
        width: 850px;
    }

    .info-form-sec__form {
        margin-right: 75px;
    }

    .coorp-dirrections-next {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: -20px;
    }

    .coorp-dirrections-prev {
        left: -20px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
    }
}

@media only screen and (max-width: 1520px) {
    .info-advantages-sec__element-title {
        font-size: 22px;
    }

    .info-advantages-sec__element-wrapper {
        padding: 25px;
    }

    .info-hero-sec__bg {
        display: none;
    }

    .info-hero-sec__text-box {
        width: 100%;
    }

    .info-close-sec__element {
        height: 430px;
    }



    .info-how-take-sec__element {
        max-width: 100%;
        width: calc(50% - 15px);
        margin-right: 0;
        margin-bottom: 30px;
    }

    .info-how-take-sec__row {
        justify-content: space-between;
        align-items: stretch;
    }

    .info-form-sec__img {
        width: 50%;
    }

    .info-form-sec__form {
        margin-right: 0;
        width: 50%;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media only screen and (max-width: 1220px) {
    .info-hero-sec__title {
        font-size: 32px;
    }

    .info-hero-sec__text {
        p {
            font-size: 16px;
        }

        ul {
            li {
                font-size: 16px;
            }
        }
    }

    .btn-request {
        padding: 15px 30px;

        span {
            font-size: 16px;
        }
    }

    .info-hero-sec__wrapper {
        border-radius: 30px;
        flex-wrap: wrap;
        padding: 0;
    }



    .info-hero-sec__text-box {
        padding: 30px;
    }

    .info-hero-sec {
        padding-bottom: 60px;
    }

    .info-sec-title {
        font-size: 32px;
    }

    .info-advantages-sec__element-wrapper {
        border-radius: 23px;
    }

    .info-advantages-sec__element {
        border-radius: 25px;
        width: calc(50% - 5px);
        margin-left: 0;
        margin-right: 0;
    }

    .info-advantages-sec__wrapper {
        justify-content: space-between;
    }

    .info-advantages-sec__element-title {
        font-size: 18px;
    }

    .info-advantages-sec__element-text {
        font-size: 16px;
    }

    .info-advantages-sec {
        font-size: 60px;
    }

    .info-dirrections-sec__element {
        height: 450px;
        border-radius: 20px;
    }

    .info-dirrections-sec {
        padding: 60px 0;
    }

    .info-close-sec {
        padding: 60px 0;
    }

    .info-close-sec__element {
        border-radius: 20px;
    }

    .info-close-sec__element-text-wrapper {
        padding: 30px 15px;
    }

    .info-close-sec__element-title {
        font-size: 20px;
    }

    .info-close-sec__element-text {
        font-size: 16px;
    }

    .info-close-sec__element {
        height: 350px;
    }

    .info-how-take-sec {
        padding-bottom: 60px;
    }

    .info-form-sec__img {
        display: none;
    }

    .info-form-sec__form {
        width: 400px;
        padding: 0;

    }

    .info-form-sec__wrapper {
        display: flex;
        justify-content: center;
        padding: 40px 0;
        border-radius: 30px;
    }

    .info-form-sec__form-inp-btn {
        input {
            padding-right: 134px;
        }
    }

    .info-form-sec__form-inp-btn-icon {
        right: 90px;
    }

    .info-advantages-sec__wrapper {
        margin-left: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 760px) {
    .info-hero-sec {
        padding-top: 15px;
        padding-bottom: 50px;
    }

    .info-hero-sec__wrapper {
        margin-top: 25px;
        border-radius: 10px;
    }

    .info-hero-sec__wrapper {
        border-radius: 10px;
    }

    .info-hero-sec__text-box {
        padding: 15px 12px 0 12px;
    }

    .info-hero-sec__title {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        margin-bottom: 10px;
        /* 21.6px */
        text-transform: uppercase;
    }

    .info-hero-sec__text {
        p {
            font-size: 14px;
        }

        ul {
            li {
                font-size: 14px;
            }
        }
    }

    .btn-request {
        width: 100%;
        justify-content: center;
        padding: 10px;
        border-radius: 10px;

        span {
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
            margin-right: 13px;
        }

        svg {
            width: 18px;
            height: auto;

        }
    }

    .info-hero-sec__bg {
        display: block;
    }

    .info-hero-sec__wrapper--yr-lica {
        padding-bottom: 244px;

        .info-hero-sec__bg {
            top: auto;
            width: 492px;
            height: auto;
            left: -40px;
            top: auto;
            bottom: -126px;
        }
    }

    .info-sec-title {
        font-size: 20px;
    }

    .info-advantages-sec__wrapper {
        margin-top: 15px;
    }

    .info-advantages-sec__element {
        margin-bottom: 15px;
        border-radius: 10px;
    }

    .info-advantages-sec__element-wrapper {
        border-radius: 8px;
        padding: 18px 11px;
    }

    .info-advantages-sec__element-header {
        flex-wrap: wrap;
    }

    .info-advantages-sec__element-icon {
        height: 25px;
        width: auto;
        margin-bottom: 10px;
    }

    .info-advantages-sec__element-title {
        width: 100%;
        padding-left: 0;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
    }

    .info-advantages-sec__element-text {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        margin-top: 10px;
    }

    .info-advantages-sec {
        padding-bottom: 35px;
    }

    .info-dirrections-sec {
        padding-top: 23px;
        padding-bottom: 23px;
    }

    .info-dirrections-sec__row {
        margin-top: 15px;
    }

    .info-dirrections-sec__element {
        border-radius: 10px;
        height: 268px;
        display: flex;
        justify-content: center;

        .info-dirrections-sec__element-img {
            width: 100%;
            height: auto;
            position: absolute;
        }
    }

    .info-dirrections-sec__element-text-box {
        padding: 0 20px 23px 20px;
    }

    .info-dirrections-sec__element-title {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
    }

    .info-dirrections-sec__element-text {
        margin-top: 12px;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
    }

    .coorp-dirrections-slider {
        swiper-slide {
            padding-bottom: 20px;
        }
    }

    .coorp-dirrections-next {
        margin-top: -15px;
    }

    .coorp-dirrections-prev {
        margin-top: -15px;
    }

    .info-close-sec {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .info-close-sec__row {
        flex-wrap: wrap;
        width: 100%;
        margin-left: 0;
    }

    .info-close-sec__element {
        width: 100%;
        border-radius: 10px;
        height: 269px;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .info-close-sec__element-text-wrapper {
        padding: 20px;
    }

    .info-close-sec__element-title {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        margin-bottom: 10px;
    }

    .info-close-sec__element-text {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        max-width: 250px;
    }

    .info-how-take-sec__subtitle {
        font-size: 14px;
    }

    .info-how-take-sec__row {
        margin-top: 15px;
    }

    .info-how-take-sec__element {
        width: auto;
        border-radius: 10px;
        padding: 15px 20px;
        margin-bottom: 10px;
    }

    .info-how-take-sec__element-text {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
    }

    .info-how-take-sec {
        padding-bottom: 40px;
    }

    .info-form-sec__subtitle {
        font-size: 14px;
        margin-top: 10px;
    }

    .info-form-sec__wrapper {
        margin-top: 20px;
        padding: 15px 12px;
        border-radius: 10px;
    }

    .info-form-sec__form-title {
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
    }

    .info-form-sec__form-subtitle {
        margin-top: 8px;
        margin-bottom: 20px;
        font-size: 14px;
    }

    .info-form-sec__form-inp {
        margin-bottom: 8px;

        input {
            font-size: 14px !important;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            padding: 15px;
            border: 10px;
        }
    }

    .info-form-sec__form-inp-btn {
        width: 100%;

        input {
            padding: 12px;
            font-size: 14px;
            padding-right: 113px;
        }
    }

    .info-form-sec__form-inp-btn-icon {
        right: 82px;

        svg {
            width: 18px;
        }
    }

    .info-form-sec__form-captcha-wrapper {
        margin-top: 20px;
    }

    .info-form-sec__down-text {
        margin-top: 50px;
    }

    .info-form-sec {
        padding-bottom: 20px;
    }
}