.news-card {
    width: 385px;
    border-radius: 32px;
    border: 1px solid rgba(27, 55, 98, 0.10);
    background: #FFF;
    padding: 24px;

    &:hover {
        .news-card__mob-btn-wrapper {
            max-height: 40px;
            transition: all ease 0.3s;
        }
    }
}

.news-card__img-wrapper {
    height: 158px;
    width: 100%;
    display: block;
    border-radius: 20px;
    overflow: hidden;
}

.news-card__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all ease 0.3s;

    &:hover {
        transform: scale(1.05);
        transition: all ease 0.3s;
    }
}

.news-card__header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 23px;
}

.news-card__teg {
    font-size: 12px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: $darkBlueV1;
    padding: 5px 15px;
    border-radius: 5px;
    background: $blueV1;
    display: inline-block;
    transition: all ease 0.3s;

    &:hover {
        background: $darkBlueV1;
        color: #fff;
        transition: all ease 0.3s;
    }
}

.news-card__date-post {
    font-size: 12px;
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-left: 22px;
    color: $darkBlueV1;
    opacity: 0.4;
}

.news-card__title {
    margin-top: 15px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

    a {
        color: $darkBlueV1;
        transition: all ease 0.3s;

        &:hover {
            color: $goldV1;
            transition: all ease 0.3s;
        }
    }
}

.news-card__description {
    margin-top: 10px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: $darkBlueV1;
}

.news-card__mob-btn-wrapper {
    max-height: 0;
    overflow: hidden;
    margin-top: 15px;
    transition: all ease 0.3s;
}

.news-card__mob-btn {
    display: block;

    width: 100%;
    border-radius: 51px;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    background: $darkBlueV2;
    padding: 9px;
    text-align: center;
    color: #fff;

    transition: all ease 0.3s;

}

@media only screen and (max-width: 1520px) {
    .news-card {
        border-radius: 25px;
        padding: 15px;
    }

    .news-card__img-wrapper {
        border-radius: 15px;
    }

    .news-card__title {
        font-size: 16px;
        margin-top: 10px;
    }

    .news-card__description {
        font-size: 14px;
    }

    .news-card__header {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 760px) {
    .news-card {
        padding: 8px;
        border-radius: 10px;
    }

    .news-card__img-wrapper {
        border-radius: 8px;
        height: 151px;
    }

    .news-home-slider__element {
        padding-bottom: 20px;
    }

    .news-card__header {
        margin-top: 15px;
        flex-wrap: wrap;
    }

    .news-card__date-post {
        width: 100%;
        margin-left: 0;
        margin-top: 5px;
    }

    .news-card__title {
        margin-top: 15px;
        font-size: 13px;
    }

    .news-card__description {
        margin-top: 10px;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }

    .news-card__mob-btn-wrapper {
        max-height: 100px;
    }

    .news-card__mob-btn {
        display: block;
        width: 100%;
        border-radius: 5px;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        background: $darkBlueV2;
        padding: 9px;
        text-align: center;
        color: #fff;
        margin-top: 10px;
    }
}