.product-card {
    width: 395px;
}

.product-card__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 32px;
    border: 1px solid rgba(27, 55, 98, 0.10);
    background: #FFF;
    padding: 20px;
}

.product-card__img-wrapper {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    height: 281px;
    position: relative;
    display: block;
}

.product-card__main-img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: all ease 0.3s;

    &:hover {
        transform: scale(1.05);
        transition: all ease 0.3s;
    }
}

.product-card__ingridients {
    position: absolute;
    z-index: 5;
    left: 11px;
    top: 12px;
    display: flex;
    align-items: center;
}

.product-card__ingridient {
    width: 44px;
    height: 44px;
    border-radius: 100px;
    overflow: hidden;
    margin-left: -13px;

    &:first-child {
        margin-left: 0;
    }
}

.product-card__ingridient-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.product-card__title {
    margin-top: 22px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

    a {
        color: $darkBlueV1;
    }
}

.product-card__list {
    margin-top: 20px;
}

.product-card__table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 12px;

    &:last-child {
        margin-bottom: 0;
    }
}

.product-card__table-row-name {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: $darkBlueV1;
}

.product-card__table-row-value {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: $darkBlueV1;
    opacity: 0.5;
}

.product-card__down {
    margin-top: 35px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card__btn-request {
    padding: 10px 7px;
    background: $darkBlueV1;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    border: none;
    border-radius: 8px;
    line-height: 120%;
    display: inline-flex;
    align-items: center;
    color: #fff;
    width: 100%;
    justify-content: center;
    margin-bottom: 16px;

    svg {
        margin-left: 10px;
        display: block;

    }
}

.product-card__btn-more-info {
    padding: 10px 15px;
    background: $blueV1;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    border: none;
    border-radius: 8px;
    line-height: 120%;
    display: inline-flex;
    align-items: center;
    color: $darkBlueV1;


    svg {
        margin-left: 10px;
        display: block;

    }
}

.product-card__btn-market {
    width: 95px;
    height: 44px;
    border-radius: 8px;
    display: block;
    overflow: hidden;
}

.product-card__btn-market-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.product-card__btn-market-img-mob {
    display: none;
}




@media only screen and (max-width: 1750px) {
    .product-card__btn-request {
        font-size: 13px;

        svg {
            margin-left: 6px;
            width: 18px;
            height: auto;
        }
    }

    .product-card__btn-more-info {
        font-size: 13px;

        svg {
            margin-left: 6px;
            width: 18px;
            height: auto;
        }
    }

    .product-card__btn-market {
        width: 90px;
        height: 38px;
    }
}


@media only screen and (max-width: 1520px) {
    .product-card__wrapper {
        padding: 15px;
        border-radius: 20px;
    }

    .product-card__img-wrapper {
        border-radius: 15px;
        height: 200px;
    }

    .product-card__title {
        font-size: 18px;
    }

    .product-card__list {
        margin-top: 15px;
    }

    .product-card__table-row-name {
        font-size: 13px;
        width: 80%;
    }

    .product-card__table-row-value {
        font-size: 13px;
        width: 20%;
        text-align: right;
    }

    .product-card__down {
        margin-top: 25px;
        flex-wrap: wrap;
    }

    .product-card__btn-request {
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }

    .product-card__btn-more-info {
        width: calc(100% - 42px - 10px - 42px - 10px);
        justify-content: center;
    }

    .product-card__btn-market {
        width: 42px;
        height: 38px;

        .product-card__btn-market-img {
            display: none;
        }

        .product-card__btn-market-img-mob {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@media only screen and (max-width: 760px) {
    .product-card__wrapper {
        padding: 8px;
        border-radius: 10px;
    }

    .product-card__img-wrapper {
        height: 157px;
        border-radius: 8px;
    }

    .product-card__ingridient {
        width: 30px;
        height: 30px;
        margin-left: -10px;
    }

    .product-card__ingridients {
        left: 5px;
        top: 5px;
    }

    .product-card__title {
        font-size: 14px;
        margin-top: 14px;
    }

    .product-card__table-row-name {
        font-size: 10px;
    }

    .product-card__table-row-value {
        font-size: 10px;
    }

    .product-card__table-row {
        margin-bottom: 10px;
    }

    .product-card__down {
        margin-top: 14px;
    }

    .product-card__btn-request {
        font-size: 10px;
        margin-bottom: 8px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .product-card__btn-request svg {
        width: 14px;
    }

    .product-card__btn-market-img-mob {
        display: block;
        width: 100%;
    }

    .product-card__btn-market-img {
        display: none;
    }

    .product-card__btn-more-info {
        width: calc(50% - 5px);
        padding-left: 0;
        padding-right: 0;
        font-size: 10px;
    }

    .product-card__btn-market {
        width: 32px;
        height: 25px;
        border-radius: 4px;

    }


    .product-card__btn-more-info svg {
        display: none;
    }

    .product-card__btn-more-info {
        padding: 6px 8px;
    }

    .popular-prod-sec {
        padding-bottom: 35px;
    }
}