.video-wrapper {
    border-radius: 40px;
    background: #292929;
    overflow: hidden;
    width: 100%;
    height: 452px;
    display: flex;
    justify-content: center;
    align-items: center;

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        z-index: 1;
    }
}

.video-wrapper__play-icon {
    position: absolute;
    z-index: 5;
    cursor: pointer;

    svg {
        display: block;
    }
}

@media only screen and (max-width: 1520px) {
    .video-wrapper {
        border-radius: 30px;
        height: 336px;
    }

    .video-wrapper__play-icon {
        width: 63px;

        svg {
            width: 100%;
            height: auto;
        }
    }
}

@media only screen and (max-width: 1220px) {
    .video-wrapper {
        height: 250px;
        border-radius: 20px;
    }

    .video-wrapper__play-icon {
        width: 60px;

        svg {
            width: 100%;
            height: auto;
        }
    }
}

@media only screen and (max-width: 760px) {
    .video-wrapper {
        height: 174px;
        border-radius: 10px;
    }

    .video-wrapper__play-icon {
        width: 32px;
    }
}